.App {
  font-family: sans-serif;
  text-align: center;
}


.parent {
  background-color: #31abfe;
  display: flex;
  height: auto;
  width: 80%;
  /* margin-left: 9%;
  margin-top: 2%; */
  position:absolute;
  top: 5%;
  left: 10%;
}

.top-content,.top-content2{
  text-align: center;
}

.top-content{
  color:#989ea4 ;
}

.color-gray{
  color:#989ea4;
}

.child {
  
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5%;
  padding: 2%;
  text-align: initial;
  color: #5599fe;
  height: auto;
  width: 33%;
  
}
button {
  background-color: #5599fe;
  padding: 18px;
  width: 95%;
  border: none;
  border-radius: 25px;
  margin-left: 2%;
  opacity: 0.8;
}

.sym-dollor{
  font-size: 40px;
}

.child:hover{

  cursor: pointer;
  position: static;
  margin-top: 50px;
  
}

button:hover{
  opacity: 1;
}

